ETL/Kettle-MQTT-Node-Red/V2/GenerateChartsFromMQTT.json
[
    {
        "id": "5bfe9e9e304da357",
        "type": "tab",
        "label": "Generate Chart from MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60a7f60891d20188",
        "type": "mqtt in",
        "z": "5bfe9e9e304da357",
        "name": "Get from MQTT",
        "topic": "test",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e86a8cc5303d7f0d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "9db10de669356cd7"
            ]
        ]
    },
    {
        "id": "4847992bb8418f3b",
        "type": "ui_gauge",
        "z": "5bfe9e9e304da357",
        "name": "Temperature Gauge",
        "group": "92a9cd27.99b9d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "units",
        "format": "",
        "min": "10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "90",
        "className": "",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "9db10de669356cd7",
        "type": "change",
        "z": "5bfe9e9e304da357",
        "name": "Prepara Data do Chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.Data.Temperature",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "4847992bb8418f3b",
                "73886e1efcc45d65",
                "980753ace1b08acc"
            ]
        ]
    },
    {
        "id": "73886e1efcc45d65",
        "type": "debug",
        "z": "5bfe9e9e304da357",
        "name": "Outputs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "980753ace1b08acc",
        "type": "ui_chart",
        "z": "5bfe9e9e304da357",
        "name": "Temperatura Chart Line",
        "group": "92a9cd27.99b9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura Change",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e86a8cc5303d7f0d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "Pentaho",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "test",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92a9cd27.99b9d",
        "type": "ui_group",
        "name": "Outro",
        "tab": "d59b4552e9ac98d7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d59b4552e9ac98d7",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]