ETL/Kettle-MQTT-Node-Red/V2/OscarRibeiro/GenerateChartsFromMQTT_v4.json
[{"id":"79a8c80f2a0feeff","type":"tab","label":"GenerateChartsFromMQTT_v4","disabled":false,"info":"","env":[]},{"id":"9b39df6dfd2bc1c7","type":"mqtt in","z":"79a8c80f2a0feeff","name":"","topic":"sensor/#","qos":"2","datatype":"auto","broker":"e86a8cc5303d7f0d","nl":false,"rap":true,"rh":0,"inputs":0,"x":219.3077163696289,"y":123.38462448120117,"wires":[["0be7a66430a9247f","4309aef39dc127e6"]]},{"id":"0be7a66430a9247f","type":"debug","z":"79a8c80f2a0feeff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":933.9998970031738,"y":126.99998664855957,"wires":[]},{"id":"c5b7a390bb023c07","type":"comment","z":"79a8c80f2a0feeff","name":"mqtt in","info":"","x":209.23077392578125,"y":65.38461112976074,"wires":[]},{"id":"da2b3d2d47a80268","type":"debug","z":"79a8c80f2a0feeff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950.1537590026855,"y":316.07690620422363,"wires":[]},{"id":"15b996d0a8cad0d6","type":"change","z":"79a8c80f2a0feeff","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Data[0].Temperature","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":574.2923202514648,"y":378.8461513519287,"wires":[["cf6bdf68756b1c58","da2b3d2d47a80268"]]},{"id":"cf6bdf68756b1c58","type":"ui_gauge","z":"79a8c80f2a0feeff","name":"","group":"7386180b.321f3","order":6,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":941.2153930664062,"y":395.47689056396484,"wires":[]},{"id":"9ad1e1f9b1344cf7","type":"comment","z":"79a8c80f2a0feeff","name":"msg.payload.Data[0].Temperature","info":"","x":616.6923332214355,"y":333.307674407959,"wires":[]},{"id":"4309aef39dc127e6","type":"json","z":"79a8c80f2a0feeff","name":"","property":"payload","action":"","pretty":false,"x":380.6769218444824,"y":239.76920747756958,"wires":[["da2b3d2d47a80268","15b996d0a8cad0d6"]]},{"id":"06cc21a4ad3d898c","type":"comment","z":"79a8c80f2a0feeff","name":"convert JSON String to Object","info":"","x":448.6666717529297,"y":192.00000190734863,"wires":[]},{"id":"e86a8cc5303d7f0d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7386180b.321f3","type":"ui_group","name":"Group Node - 01","tab":"8ef5eae2e9c5de46","disp":true,"width":"6","collapse":false},{"id":"8ef5eae2e9c5de46","type":"ui_tab","name":"Tab1","icon":"dashboard","disabled":false,"hidden":false}]