ETL/Kettle-MQTT-Node-Red/V1/SW/Real-time-ML-Pentaho-master/Real-time-ML-Pentaho-master/NodeRedJSONFiles/BearingDashboard.json
[{"id":"4df31639.f35788","type":"mqtt in","z":"37153f21.9ab86","name":"MLBearing","topic":"MLBearing","qos":"0","broker":"5e53e761.1d6088","x":240,"y":220,"wires":[["6893eeeb.c751f"]]},{"id":"6893eeeb.c751f","type":"json","z":"37153f21.9ab86","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["e3b7685f.694108","eea57e08.63cce","47e02a73.d30604","f29cb16.32ecd5"]]},{"id":"e3b7685f.694108","type":"ui_text","z":"37153f21.9ab86","group":"abedb4d8.8ac7c8","order":0,"width":"3","height":"3","name":"Health","label":"<font color={{msg.payload.State_predicted  == 'healthy'  ? 'green' : 'red'}}><i class=\"fa fa-cog fa-spin fa-5x\"></i></font>","format":"{{msg.payload.State_predicted}}","layout":"col-center","x":610,"y":80,"wires":[]},{"id":"eea57e08.63cce","type":"function","z":"37153f21.9ab86","name":"SetPayloadtoX","func":"var num=msg.payload.x\nmsg.payload=num.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["94eb4950.bd67c8","d0525536.93c1d8"]]},{"id":"47e02a73.d30604","type":"function","z":"37153f21.9ab86","name":"SetPayloadtoY","func":"var num=msg.payload.y\nmsg.payload=num.toFixed(2)\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["f046a5c0.b1b398","3a103382.7e8b1c"]]},{"id":"f29cb16.32ecd5","type":"function","z":"37153f21.9ab86","name":"SetPayloadtoZ","func":"var num=msg.payload.z\nmsg.payload=num.toFixed(2)\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["f96a435f.529cb","bd95ba4a.c2d3c8"]]},{"id":"94eb4950.bd67c8","type":"ui_gauge","z":"37153f21.9ab86","name":"","group":"af5ac25d.83b63","order":0,"width":0,"height":0,"gtype":"gage","title":"X-Vibration","label":"","format":"{{msg.payload}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":140,"wires":[]},{"id":"f046a5c0.b1b398","type":"ui_gauge","z":"37153f21.9ab86","name":"","group":"af5ac25d.83b63","order":0,"width":0,"height":0,"gtype":"gage","title":"Y-Vibration","label":"","format":"{{msg.payload}}","min":"-150","max":"+150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":220,"wires":[]},{"id":"f96a435f.529cb","type":"ui_gauge","z":"37153f21.9ab86","name":"","group":"af5ac25d.83b63","order":0,"width":0,"height":0,"gtype":"gage","title":"Z-Vibration","label":"","format":"{{msg.payload}}","min":"-200","max":"+200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":340,"wires":[]},{"id":"d0525536.93c1d8","type":"ui_chart","z":"37153f21.9ab86","name":"","group":"2eacc6.eba1933a","order":0,"width":0,"height":0,"label":"X-Vibration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"+100","removeOlder":"5","removeOlderPoints":"3000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":100,"wires":[[],[]]},{"id":"3a103382.7e8b1c","type":"ui_chart","z":"37153f21.9ab86","name":"","group":"2eacc6.eba1933a","order":0,"width":0,"height":0,"label":"Y-Vibration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-150","ymax":"+150","removeOlder":"5","removeOlderPoints":"3000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":280,"wires":[[],[]]},{"id":"bd95ba4a.c2d3c8","type":"ui_chart","z":"37153f21.9ab86","name":"","group":"2eacc6.eba1933a","order":0,"width":0,"height":0,"label":"Z-Vibration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"5","removeOlderPoints":"3000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":400,"wires":[[],[]]},{"id":"5e53e761.1d6088","type":"mqtt-broker","z":"","name":"MQTT","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abedb4d8.8ac7c8","type":"ui_group","z":"","name":"Bearing Health","tab":"3df20299.71f3be","disp":true,"width":"3","collapse":false},{"id":"af5ac25d.83b63","type":"ui_group","z":"","name":"Bearing Axis Vibration","tab":"3df20299.71f3be","disp":true,"width":"6","collapse":false},{"id":"2eacc6.eba1933a","type":"ui_group","z":"","name":"Bearing Axis Displacement","tab":"3df20299.71f3be","disp":true,"width":"6","collapse":false},{"id":"3df20299.71f3be","type":"ui_tab","z":"","name":"Bearing","icon":"dashboard"}]