ETL/Kettle-MQTT-Node-Red/V1/SW/Real-time-ML-Pentaho-master/Real-time-ML-Pentaho-master/NodeRedJSONFiles/BearingSimulator.json
[{"id":"9949140b.86a398","type":"inject","z":"87a7aa83.9b4ba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":"","x":290,"y":140,"wires":[["fca837ac.9017a8"]]},{"id":"fca837ac.9017a8","type":"function","z":"87a7aa83.9b4ba8","name":"","func":"var h = context.global.get('h')||0.008;\nvar a = context.global.get('a')||10;\nvar b = context.global.get('b')||28;\nvar c = context.global.get('c')||8/3;\nvar x = context.global.get('x')||2;\nvar y = context.global.get('y')||3;\nvar z = context.global.get('z')||4;\n\n\nx+=h*a*(y-x)\ny+=h*(x*(b-z)-y)\nz+=h*(x*y-c*z)\n\n\ncontext.global.set(\"x\",x);\ncontext.global.set(\"y\",y);\ncontext.global.set(\"z\",z);\nmsg.payload={};\nmsg.payload.x=x;\nmsg.payload.y=y;\nmsg.payload.z=z;\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":146.5,"wires":[["3d4c2049.b0a15","eaf80c.477637f8"]]},{"id":"3d4c2049.b0a15","type":"debug","z":"87a7aa83.9b4ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":656,"y":135.25,"wires":[]},{"id":"d5f1d889.28b538","type":"debug","z":"87a7aa83.9b4ba8","name":"FromMQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":360,"wires":[]},{"id":"8f9ff8ce.e5b298","type":"inject","z":"87a7aa83.9b4ba8","name":"healthy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":200,"wires":[["3d660c1a.fd9bb4"]]},{"id":"dd6a1a30.380488","type":"inject","z":"87a7aa83.9b4ba8","name":"broken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":232,"y":271,"wires":[["3fafe944.744cb6"]]},{"id":"3d660c1a.fd9bb4","type":"function","z":"87a7aa83.9b4ba8","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',10);\ncontext.global.set('b',28);\ncontext.global.set('c',8/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":363,"y":211.5,"wires":[["c1551f2d.a658a"]]},{"id":"3fafe944.744cb6","type":"function","z":"87a7aa83.9b4ba8","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',30);\ncontext.global.set('b',128);\ncontext.global.set('c',28/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":325.5,"wires":[["c1551f2d.a658a"]]},{"id":"eaf80c.477637f8","type":"function","z":"87a7aa83.9b4ba8","name":"limit to max 3000 ","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count <= 3000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":721,"y":206,"wires":[["70fe3130.35115"]]},{"id":"4e2744e9.ce35fc","type":"function","z":"87a7aa83.9b4ba8","name":"","func":"context.global.set('count',0);\nmsg.payload=context.global.get('count');\ncontext.global.set(\"x\",2);\ncontext.global.set(\"y\",3);\ncontext.global.set(\"z\",4);\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":602,"wires":[["c1551f2d.a658a"]]},{"id":"9f3597ac.0953c8","type":"inject","z":"87a7aa83.9b4ba8","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":218,"y":487.5,"wires":[["4e2744e9.ce35fc"]]},{"id":"c1551f2d.a658a","type":"debug","z":"87a7aa83.9b4ba8","name":"","active":false,"console":"false","complete":"false","x":468.5,"y":593.5,"wires":[]},{"id":"6a564e81.91d17","type":"mqtt in","z":"87a7aa83.9b4ba8","name":"","topic":"BearingData","qos":"1","broker":"5e53e761.1d6088","x":590,"y":320,"wires":[["d5f1d889.28b538"]]},{"id":"70fe3130.35115","type":"mqtt out","z":"87a7aa83.9b4ba8","name":"","topic":"BearingData","qos":"1","retain":"","broker":"5e53e761.1d6088","x":940,"y":260,"wires":[]},{"id":"5e53e761.1d6088","type":"mqtt-broker","z":"","name":"MQTT","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]